<tr>
  <td><b>{{app}}</b></td>

  <td>{{box envs.dev 'dv' context '01' app}}</td>
  <td>{{box envs.dev 'dv' context '02' app}}</td>

  <td>{{box envs.user 'ut' context '01' app}}</td>
  <td>{{box envs.user 'ut' context '02' app}}</td>

  <td>{{box envs.preprod 'pp' context '01' app}}</td>
  <td>{{box envs.preprod 'pp' context '02' app}}</td>

  <td>{{box envs.prod 'pd' context '01' app}}</td>
  <td>{{box envs.prod 'pd' context '02' app}}</td>
</tr>
