<tr>
  <td><b>{{app}}</b></td>
  <td>{{lookup envs.dev.dvcas01 app}}</td>
  <td>{{lookup envs.dev.dvcas02 app}}</td>
  <td>{{lookup envs.user.utcas01 app}}</td>
  <td>{{lookup envs.user.utcas02 app}}</td>
  <td>{{lookup envs.preprod.ppcas01 app}}</td>
  <td>{{lookup envs.preprod.ppcas02 app}}</td>
  <td>{{lookup envs.prod.pdcas01 app}}</td>
  <td>{{lookup envs.prod.pdcas02 app}}</td>
</tr>
