<tr>
  <td><b>{{app}}</b></td>
  <td>{{lookup envs.dev.dvcus01 app}}</td>
  <td>{{lookup envs.dev.dvcus02 app}}</td>
  <td>{{lookup envs.user.utcus01 app}}</td>
  <td>{{lookup envs.user.utcus02 app}}</td>
  <td>{{lookup envs.preprod.ppcus01 app}}</td>
  <td>{{lookup envs.preprod.ppcus02 app}}</td>
  <td>{{lookup envs.prod.pdcus01 app}}</td>
  <td>{{lookup envs.prod.pdcus02 app}}</td>
</tr>
